@import url(https://fonts.googleapis.com/css?family=Lobster);

header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: lightblue;
}

header h2 {
	margin-left: 3em;
	font-family: lobster;
}

#galleryImage {
	width: 1000px;
	height: 750px;
	margin-left: 23%;
	margin-top: 1em;
}

#left {
	margin-left: 46%;
}
